
.container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 25px;
    background: linear-gradient(180deg, rgba(220,102,154,1) 0%, rgba(152,117,199,1) 50%, rgba(112,127,222,1) 100%);
}

.cta{
    padding: 20px;
}

.cta > .cta-title, .cta-subtitle{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
}

.cta > .cta-copy{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.8rem;
    width: 350px;
}

#form-body > .span-required{
    margin: 6px 0 15px 12px;
    padding: 0;
    font-size: 1.2rem;
    color: rgb(240, 8, 8);
    font-weight: 700;
    display: none;
}

#form-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 34rem;
    height: 42rem;
    background-color: #FFFFFF;
}

#form-body > input, textarea{
    margin-bottom: 15px;
    width: 30rem;
    height: 3.5rem;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #A8A8A8;
    border: 2px solid #A8A8A8;
    border-radius: 5px;
    transition: border 0.3s ease-in-out;
}

#form-body > textarea{
    height: 12rem;
    padding: 5px 20px;
}

#form-body > input:focus{
    outline: none;
    border: 2px solid #3CCC87;
}

#form-body > textarea:focus{
    outline: none;
}

#form-body > span{
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 400;
    align-self: flex-start;
}

#form-body > button{
    margin-bottom: 15px;
    border: none;
    background-color: #3CCC87;
    color: #FFFFFF;
    width: 30rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 8px;
    padding: 12px 120px;
    cursor: pointer;
}

@media screen and (max-width:858px) {
    .container{
        justify-content: center;
        padding: 0;
    }
}